include ../../mixins/all-brands-item

section.all-brands
	.all-brands__wrapper
		.all-brands__heading-wrapper
				h2.all-brands__heading Часы. Все бренды
		.container
			.all-brands__content
				.all-brands__list
					+all-brands-item('A', BRENDS_A)
					+all-brands-item('B', BRENDS_B)
					+all-brands-item('C', BRENDS_C)
					+all-brands-item('D', BRENDS_D)
					+all-brands-item('E', BRENDS_E)
					+all-brands-item('F', BRENDS_F)
					+all-brands-item('G', BRENDS_G)
					+all-brands-item('H', BRENDS_H)
					+all-brands-item('I', BRENDS_I)
					+all-brands-item('J', BRENDS_J)
					+all-brands-item('L', BRENDS_L)
					+all-brands-item('M', BRENDS_M)
					+all-brands-item('O', BRENDS_O)
					+all-brands-item('P', BRENDS_P)
					+all-brands-item('R', BRENDS_R)
					+all-brands-item('T', BRENDS_T)
					+all-brands-item('U', BRENDS_U)
					+all-brands-item('Y', BRENDS_Y)
					+all-brands-item('W', BRENDS_W)
					+all-brands-item('Z', BRENDS_Z)