include ../../mixins/modal
include ../../mixins/button
include ../../mixins/breadcrumbs

-
	const
		breadcrumbs = [{title: 'Главная', link: '/'}, {title: 'Купить часы', link: '/'}, {title: 'Последние поступления'}]
		gallery = ['adriatica.png', 'adriatica-2.png', 'adriatica-3.png', 'breitling.jpeg', 'adriatica-2.png',]
	const reserved = false

section.card
	.card__wrapper
		.container
			.card__content
				.card__left
					+breadcrumbs(breadcrumbs)
					.gallery
						.slider-wrapper
							.slider-card
								each item in gallery
									.slide
										.img-wrapper
											img.icon.icon-like(src='./img/like.svg', alt="icon")
											img.img(src='./img/' + item, alt="img")
							.dots
								each item in gallery
									.dot
										img.img(src='./img/' + item, alt="img")


				.card__right
					.category Мужские часы
					.heading Franck Muller Long Island
					.model Ref. 1200 CC AT
					.description.text-s Розовое золото, 32х44 мм, сапфировое стекло, водонепроницаемость 30 м. Long Island с четырехугольным корпусом и угловатыми цифрами стал выдающейся коллекцией Franck Muller. Благодаря прямолинейным и выгнутым цифрам Long Island стал легендарной моделью среди наручных часов для мужчин.
					.price-wrapper
						.price
							.currency
								.ru.selected ₽ 590 000
								.dollar
									a(href="/")
										img(src="./img/dollar.svg", alt="icon")
								.evro
									a(href="/")
										img(src="./img/evro.svg", alt="icon")
						.recommended Рекомендуемая цена: ₽ 2 300 000
					.btn-group
						.change-price.open-modal-2 Сообщить об изменении цены
						if reserved
							h6.normal.reserved Зарезервированы
						else
							+button('btn-secondary btn-lg open-modal-1', 'Зарезервировать')
					h6.normal.question Хотите продать свои часы?
					a.connect(href="/") #[img.icon(src="./img/phone.svg", alt="icon")] Задать вопрос

+modal('reserve')
+modal('price-changes')

