section.more-info
	.more-info__wrapper
		.container
			.more-info__content
				.tabs
					.tab.active(data-tab="tab-1") Описание и характеристики
					.tab(data-tab="tab-2") Оплата, гарантия и доставка

					.tab-content.active(data-content="tab-1")
						p test 1

					.tab-content(data-content="tab-2")
						p test 2
