include ../../mixins/product
include ../../mixins/button

-
	const catalog = [
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', liked: 'liked.svg', compare: 'compare.svg', docs: 'docs.svg', pack: 'pack.svg'},
		{img:'adriatica-2.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg', oldPrise: '14 500 ₽'},
		{img:'adriatica-3.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg', compare: 'compare.svg'},
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg'},
		{img:'adriatica-2.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg'},
		{img:'adriatica-3.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg', compare: 'compare.svg'}
	]


.products
	.products__wrapper
		.container
			.products__list
				+product(catalog)
			+button('btn-primary', 'Показать еще')