-
	const sort = [
		{title: 'Без фильтра', icon: 'without-filter'},
		{title: 'Сначала новые', icon: 'truck'},
		{title: 'Ожидаемые поступления', icon: 'watch'},
		{title: 'Скидки и акции', icon: 'gift'},
		{title: 'Бренды', icon: 'file'},
		{title: 'Сначала дорогие', icon: 'arrow-up'},
		{title: 'Сначала дешевые', icon: 'arrow-down'}
	]

section.sort
	.sort__wrapper
		.container
			.sort__content
				.select__wrapper
					.select__default
						li
							.option
								img.icon(src="./img/truck.svg", alt="icon")
								.title Сначала новые
								img.chevron-icon(src="./img/chevron.svg", alt="icon")
					ul.select__list
						each item in sort
							li
								.option
									img.icon(src="./img/" + item.icon + '.svg', alt="icon")
									.title #{item.title}
									img.chevron-icon(src="./img/chevron.svg", alt="icon")
				.info-wrapper
					.amount 323 модели
					.price__wrapper
						.price__list
							.price__item.ru.selected
								a(href="/")
									img.icon(src="./img/ruble.svg", alt="icon")
							.price__item.dollar
								a(href="/")
									img.icon(src="./img/dollar.svg", alt="icon")
							.price__item.evro
								a(href="/")
									img.icon(src="./img/evro.svg", alt="icon")
