section.best-choice
	.best-choice__wrapper
		.container
			h2.best-choice__heading Лучший выбор для продажи ваших часов
			.best-choice__content Центр часового и ювелирного искусства Циферблат занимается скупкой дорогих брендовых хронометров с 2007 года. У нас есть свои каналы для реализации оригинальных изделий, поэтому имеем возможность предложить продавцам цену выше рынка. Это наша отличительная черта, благодаря которой мы можем заключать взаимовыгодные сделки, а не работать «против интересов клиента».
