section.sales-process
	.sales-process__wrapper
		.container
			h3.sales-process__heading.normal Процесс продажи
			.sales-process__content
				.list
					.item
						.heading-wrapper
							.icon 1
							h4.no-uppercase.heading Оцените часы
						.description.text-s Оценить экземпляр можно на нашем сайте посредством сервиса онлайн - оценки. Ответ с предварительной ценой приходит обычно в течение 5-10 минут.
					.item
						.heading-wrapper
							.icon 2
							h4.no-uppercase.heading Уточнение стоимости
						.description.text-s Если цена устраивает, посетите наш офис, и мы проведем визуальный осмотр, после чего огласим окончательную стоимость.
					.item
						.heading-wrapper
							.icon 3
							h4.no-uppercase.heading Оплата
						.description.text-s Выплачиваем за оригинал и элитные марки до 100 000$ наличными. Свыше этой суммы обсуждаем выкуп в индивидуальном порядке.