-
	BRENDS_A = [
		{title: 'A. Lange & Sohne', link: '/', quantity: '3'},
		{title: 'Alain Silberstein', link: '/', quantity: '1'},
		{title: 'Arnold and Son', link: '/', quantity: '1'},
		{title: 'Audemars Piguet', link: '/', quantity: '3'}
	],
	BRENDS_B = [
		{title: 'Baume & Mercier', link: '/', quantity: '4'},
		{title: 'Bell & Ross', link: '/', quantity: '2'},
		{title: 'Blancpain', link: '/', quantity: '2'},
		{title: 'Breguet', link: '/', quantity: '12'},
		{title: 'Breitling', link: '/', quantity: '13'}
	],
	BRENDS_C = [
		{title: 'Carrera y Carrera', link: '/', quantity: '1'},
		{title: 'Cartier', link: '/', quantity: '9'},
		{title: 'Chanel', link: '/', quantity: '1'},
		{title: 'Chaumet', link: '/', quantity: '1'},
		{title: 'Chopard', link: '/', quantity: '3'},
		{title: 'Chronoswiss', link: '/', quantity: '1'},
		{title: 'Corum', link: '/', quantity: '6'},
		{title: 'Cvstos', link: '/', quantity: '2'}
	],
	BRENDS_D = [
		{title: 'Daniel Roth', link: '/', quantity: '1'},
		{title: 'De Grisogono', link: '/', quantity: '2'}
	],
	BRENDS_E = [
		{title: 'Ebel', link: '/', quantity: '1'}
	],
	BRENDS_F = [
		{title: 'Franc Vila', link: '/', quantity: '1'},
		{title: 'Franck Muller', link: '/', quantity: '2'}
	],
	BRENDS_G = [
		{title: 'Gerald Genta', link: '/', quantity: '1'},
		{title: 'Giovanni Ferraris', link: '/', quantity: '2'},
		{title: 'Girard Perregaux', link: '/', quantity: '3'},
		{title: 'Glashutte', link: '/', quantity: '1'},
		{title: 'Graham', link: '/', quantity: '1'}
	],
	BRENDS_H = [
		{title: 'H.Moser & Cie', link: '/', quantity: '1'},
		{title: 'Harry Winston', link: '/', quantity: '1'},
		{title: 'Hublot', link: '/', quantity: '12'}
	],
	BRENDS_I = [
		{title: 'IWC', link: '/', quantity: '1'}
	],
	BRENDS_J = [
		{title: 'Jacob & Co', link: '/', quantity: '1'},
		{title: 'Jaeger LeCoultre', link: '/', quantity: '2'},
		{title: 'Jaquet Droz', link: '/', quantity: '2'},
		{title: 'Jorg Hysek', link: '/', quantity: '2'}
	],
	BRENDS_L = [
		{title: 'Louis Moinet', link: '/', quantity: '3'}
	],
	BRENDS_M = [
		{title: 'Magellan', link: '/', quantity: '1'},
		{title: 'Maurice Lacroix', link: '/', quantity: '2'}
	],
	BRENDS_O = [
		{title: 'Omega', link: '/', quantity: '8'}
	],
	BRENDS_P = [
		{title: 'Panerai', link: '/', quantity: '1'},
		{title: 'Parmigiani', link: '/', quantity: '1'},
		{title: 'Pasquale Bruni', link: '/', quantity: '1'},
		{title: 'Patek Philippe', link: '/', quantity: '1'},
		{title: 'Perrelet', link: '/', quantity: '1'},
		{title: 'Piaget', link: '/', quantity: '1'},
		{title: 'Pierre DeRoche', link: '/', quantity: '1'},
		{title: 'Pierre Kunz', link: '/', quantity: '1'}
	],
	BRENDS_R = [
		{title: 'Roger Dubuis', link: '/', quantity: '1'},
		{title: 'Rolex', link: '/', quantity: '1'},
		{title: 'Romain Jerome', link: '/', quantity: '1'}
	],
	BRENDS_T = [
		{title: 'TAG Heuer', link: '/', quantity: '1'},
		{title: 'Tiffany & Co', link: '/', quantity: '1'}
	],
	BRENDS_U = [
		{title: 'Ulysse Nardin', link: '/', quantity: '2'}
	],
	BRENDS_Y = [
		{title: 'Vacheron Constantin', link: '/', quantity: '2'},
		{title: 'Van Cleef', link: '/', quantity: '2'}
	],
	BRENDS_W = [
		{title: 'Wellendorff', link: '/', quantity: '2'}
	],
	BRENDS_Z = [
		{title: 'Zenith', link: '/', quantity: '2'}
	]