include ../../mixins/button

section.about-watch
	.about-watch__wrapper
		.container
			h2.about-watch__heading Швейцарские часы
			.about-watch__content
				.left-side
					img.img(src="./img/john-torcasio.png", alt="img")
				.right-side.text-m
					p.notify Оригинальные швейцарские часы, хронометры и хронографы всегда были и остаются символом неизменного качества и солидности. Их носят очень аккуратно, как правило, не каждый день. Поэтому оригинальные швейцарские часы, даже б/у, часто не отличаются по состоянию от новых.
					p.notify В каталоге — полная информация о параметрах модели, состоянии корпуса и ремешка, наличии документов и коробки, указываем новые часы или б/у. В наличии — более сотни оригинальных моделей именитых марок: Patek Philippe, Breguet, Audemars Piguet, Breitling, Chopard, Rolex, Ulysse Nardin, Vacheron Constantin и многие другие.
					p.notify Мы проконсультируем Вас по всем вопросам, поможем с выбором, предоставим исчерпывающую информацию по интересующей модели.
					.btn-wrapper
						+button('btn-alt', 'все марки')



