include ../../mixins/product

-
	const lastReceipts = [
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg', compare: 'compare.svg', docs: 'docs.svg', pack: 'pack.svg'},
		{img:'adriatica-2.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg'},
		{img:'adriatica-3.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg', compare: 'compare.svg'},
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg'},
		{img:'adriatica-2.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽', like: 'like.svg'}
	]
	const expectedPositions = [
		{img:'adriatica-3.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica-2.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica-2.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'}
	]
	const discountsAndPromotions = [
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica-3.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'},
		{img:'adriatica-2.png', name: 'Adriatica', model: 'Aviation A8186.5217Q', price: '4 272 ₽'}
	]

section.best-deals
	.best-deals__wrapper
		.container
			.best-deals__content
				.tabs
					.tab.active(data-tab="tab-1") Последние поступления
					.tab(data-tab="tab-2") Ожидаемые позиции
					.tab(data-tab="tab-3") Скидки и акции

					.tab-content.active(data-content="tab-1")
						.slider-wrapper
							.slider-best-deals
								+product(lastReceipts, true)

					.tab-content(data-content="tab-2")
						.slider-wrapper
							.slider-best-deals
								+product(expectedPositions, true)

					.tab-content(data-content="tab-3")
						.slider-wrapper
							.slider-best-deals
								+product(discountsAndPromotions, true)

				.tablet-down
					.slider-wrapper
							h2.heading Последние поступления
							.slider-best-deals
								+product(lastReceipts, true)

