include ../../mixins/button

section.first-screen
	.first-screen__wrapper
		.container
			.first-screen__content
				h1.first-screen__heading Купим ваши часы дорого
				.first-screen__img-wrapper
					img.first-screen__img(src="./img/rolex-daytona.png", alt="img")
				+button('btn-primary btn-lg first-screen__btn', 'Оценить')
