section.ratings
	.ratings__wrapper
		.container
			h3.ratings__heading Наши Рейтинги
			.ratings__content
				.ratings__card
					.card-heading.text-m Google analytics
					.card-content
						img.google-logo(src="./img/google-rating.png", alt="img")
						.ratings
							.rating
								span.active
								span.active
								span.active
								span.active
								span.active
							.number 4,8 / 5
				.ratings__card
					.card-heading.text-m Facebook
					.card-content
						img.fb-logo(src="./img/fb-rating.svg", alt="img")
						.ratings
							.rating
								span.active
								span.active
								span.active
								span.active
								span.active
							.number 4,4 / 5
				.ratings__card
					.card-heading.text-m Кредитный рейтинг
					.card-content
						img.credit-logo(src="./img/credit-rating.png", alt="img")