.header
  position: fixed
  top: 0
  left: 0
  right: 0
  background: $white
  z-index: 2
  .overlay
    position: fixed
    top: 76px
    bottom: 0
    left: 0
    right: 0
    background: $black50
    opacity: .5
    z-index: 0
    display: none
    @include media-breakpoint-up(md)
      top: 80px
    @include media-breakpoint-up(xl)
      top: 107px
  &__wrapper
    padding: 18px 20px
    @include media-breakpoint-up(xl)
      padding: 24px 20px 40px
  &__content
    display: flex
    justify-content: space-between
    align-items: center
  &__menu
    display: none
    @include media-breakpoint-up(md)
      display: block
      width: 100%
    @include media-breakpoint-up(xl)
      display: flex
      align-items: center
      justify-content: space-between
    &-left
      display: none
      @include media-breakpoint-up(xl)
        display: block
        flex-grow: 1
        .list
          display: flex
          justify-content: space-between
          list-style: none
          flex-grow: 1
          padding: 0
          margin: 0
        .link
          font-size: 17px
          line-height: 21px
          text-decoration: none
          text-transform: uppercase
          letter-spacing: .05em
          color: $black
    &-left
      @include media-breakpoint-up(xl)
        .list
          .item
            position: relative
            cursor: pointer
            border-bottom: 2px solid $white
            .submenu
              display: none
              position: absolute
              top: 40px
              left: 0
              flex-direction: column
              list-style: none
              background: $white
              border-radius: 3px
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
              z-index: 5
              padding: 20px 40px 30px
              ul
                list-style: none
                padding: 0
                margin-top: 20px
              .item
                &:not(:last-child)
                  margin-bottom: 15px
                .heading
                  border-bottom: 1px solid $blue35
                  padding-bottom: 6px
              .link
                color: $black67
                text-transform: none
                white-space: nowrap
                &:hover
                  text-decoration: underline
            &.active
              border-bottom: 2px solid $yellow
              .submenu
                display: flex
                left: -40px
                &.three-col
                  display: flex
                  flex-direction: row
                  left: -504px
                  width: 1320px
                  padding: 30px 60px 40px
                  @include media-breakpoint-up(xxl)
                    left: -582px
                    width: 1520px
                  li:not(:last-child)
                    margin-bottom: 15px
                  .item
                    font-size: 17px
                    line-height: 25px
                    letter-spacing: .08em
                    text-transform: uppercase
                    white-space: nowrap
                    margin-bottom: 0
                    &:first-child
                      width: calc(50% - 30px)
                      padding-right: 30px
                    &:nth-child(2)
                      flex-grow: 1
                      padding-right: 30px
                    &:last-child
                      display: flex
                      flex-grow: 1
                      flex-direction: column
                      justify-content: space-between
                    .quantity
                      display: inline-flex
                      justify-content: center
                      align-items: center
                      font-size: 13px
                      line-height: 16px
                      min-width: 12px
                      color: $black23
                      border: 1px solid
                      padding: 0 2px
                    .two-col
                      display: flex
                      .left
                        margin-right: 135px
                        @include media-breakpoint-up(xxl)
                          margin-right: 184px
                      .title
                        font-size: 17px
                        line-height: 21px
                        text-transform: none
                        color: $blue35
    &-right
      @include media-breakpoint-up(xl)
        display: flex
        flex-grow: 1
      .list
        @include media-breakpoint-up(md)
          display: flex
          justify-content: space-between
          align-items: center
          margin-left: 50px
          margin-right: 40px
        @include media-breakpoint-up(xl)
          flex-grow: 1
          margin-left: 40px
          margin-right: 40px
      .item
        font-size: 20px
        line-height: 28px
        @include media-breakpoint-up(md)
          max-height: 24px
          &.lang
            .link
              text-decoration: none
              color: $black50
              @include media-breakpoint-up(xl)
                display: flex
                font-size: 17px
                line-height: 27px
          &.search
            width: 40px
            cursor: pointer
        @include media-breakpoint-up(xl)
          font-size: 25px
          line-height: 27px
      .btn-primary
        display: none
        @include media-breakpoint-up(xl)
          display: block
  &__menu-small
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 250px
    margin-left: 25px
    margin-right: 25px
    @include media-breakpoint-up(md)
      display: none
    &.hidden
      display: none
  &__logo
    display: none
    @include media-breakpoint-up(md)
      display: block
      height: 42px
      .img
        height: 100%
    @include media-breakpoint-up(xl)
      height: 58px
      margin-right: 43px
    @include media-breakpoint-up(xxl)
      margin-right: 93px
    &-wrapper
      &.hidden
        display: none
    &-small
      @include media-breakpoint-up(md)
        display: none

  &__menu-mobile
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 3
    background: $white
    flex-direction: column
    overflow-y: auto
    max-height: 100vh
    &.active
      display: flex
      @include media-breakpoint-up(xl)
        display: none
    .menu-mobile__left
      padding: 74px 38px 24px
      @include media-breakpoint-up(md)
        padding: 46px 0 0
        width: 678px
        margin-left: auto
        margin-right: auto
      .list
        list-style: none
        @include media-breakpoint-up(md)
          display: flex
        .mobile-dropdown
          display: flex
          justify-content: space-between
          font-size: 17px
          line-height: 21px
          border-radius: 3px 3px 0 0
          letter-spacing: .05em
          text-transform: uppercase
          padding: 12px 18px
          margin-left: -18px
          margin-right: -18px
          @include media-breakpoint-up(md)
            padding: 0 0 16px
            margin: 0
          .icon
            @include media-breakpoint-up(md)
              display: none
          &.active
            background: $lightGrey
            @include media-breakpoint-up(md)
              background: none
            .icon
              transform: rotate(180deg)
          &__content
            display: none
            background: $lightGrey
            border-radius: 3px
            padding-left: 38px
            margin-left: -18px
            margin-right: -18px
            @include media-breakpoint-up(md)
              display: flex
              background: none
              padding-left: 0
              margin: 0
            .list
              .item
                padding-bottom: 18px
              &.about
                .item
                  &:nth-child(2)
                    white-space: nowrap
        .item
          @include media-breakpoint-up(md)
            width: 25%
          .list
            padding: 0
            margin: 0
            @include media-breakpoint-up(md)
              display: flex
              flex-direction: column
            .link
              text-decoration: none
              color: $blue
    .menu-mobile__right
      padding: 0 38px 30px
      @include media-breakpoint-up(md)
        padding: 0 0 46px
        width: 678px
        margin-left: auto
        margin-right: auto
      .list
        margin-bottom: 16px
        .item
          &.lang
            position: absolute
            top: 30px
            left: 38px
            @include media-breakpoint-up(md)
              display: none
            .link
              text-decoration: none
              color: $black50
          &.login
            margin-bottom: 20px
            @include media-breakpoint-up(md)
              display: none
            .link
              font-size: 14px
              line-height: 22px
              display: flex
              align-items: center
              text-decoration: none
              color: $black50
              .icon
                margin-right: 8px
          &.double
            @include media-breakpoint-up(md)
              display: flex
              align-items: center
          .number
            font-size: 20px
            line-height: 28px
            margin-right: 13px
          .location
            font-size: 14px
            line-height: 22px
            color: $black50
      .social
        &-list
          display: flex
        &-item
          margin-right: 32px

  &__burger
    display: flex
    justify-content: center
    align-items: center
    width: 28px
    cursor: pointer
    z-index: 999
    @include media-breakpoint-up(xl)
      display: none
    .burger
      display: flex
    .close
      display: none
    &.active
      position: absolute
      top: 0
      left: 0
      right: 0
      width: 100%
      background: $white
      @include media-breakpoint-up(md)
        background: none
        height: 80px
      .burger
        display: none
      .close
        position: absolute
        display: flex
        top: 30px
        right: 36px
        @include media-breakpoint-up(md)
          right: calc((100vw - 678px) / 2)

  .search-content
    display: none
    position: absolute
    top: 76px
    left: 0
    right: 0
    z-index: 1
    background: $white
    @include media-breakpoint-up(md)
      top: 78px
    @include media-breakpoint-up(xl)
      top: 107px
    .divider
      border-top: 1px solid $blue35
    .wrapper
      position: relative
      display: flex
      align-items: center
      padding: 18px 0
      margin-right: 60px
      @include media-breakpoint-up(md)
        max-width: calc(100% - 140px)
        margin-left: auto
        margin-right: auto
      @include media-breakpoint-up(xl)
        max-width: calc(100% - 220px)
        padding: 33px 0
      .input
        border: none
        margin-right: 30px
      .btn
        @include media-breakpoint-up(xl)
          width: 195px
      .close__search-content
        position: absolute
        top: 50%
        right: -40px
        width: 26px
        height: 26px
        transform: translateY(-50%)
        cursor: pointer
        @include media-breakpoint-up(md)
          right: -76px
        @include media-breakpoint-up(xl)
          right: -107px
