-
	const advantages = [
		{title: 'Детальный разбор', text: 'Мы платим больше! Как правило, наша оценочная стоимость составляет до 90% от рыночной цены. Рыночную цену вы можете проверить на мировом маркетплейсе Chrono24 и убедиться в нашей прозрачности.'},
		{title: 'Залог — быстрый и выгодный кредит', text: 'Мы надежнее банка. Наша система кредитования простая и удобная. Для оформления кредита под залог часов нужен только паспорт и 15 минут вашего времени. Выплачиваем до 80% от рыночной стоимости часов и предлагаем низкую процентную ставку от 0,1% в день.'},
		{title: 'Безусловная гарантия', text: 'Все хронографы проходят оценку и проверку подлинности. На все проданные швейцарские часы б/у наша компания предоставляет, помимо технической и гарантии подлинности, гарантию обратного выкупа в течение 1 года с дисконтом 20%.'},
		{title: 'Конфиденциальность и прозрачность', text: 'Сделка проходит конфиденциально. Все данные наших клиентов защищены надежно, как в швейцарском банке. Мы работаем видя в каждом клиента и партнера на долгие годы и уровень сервиса для нас важнее максимальной прибыли при первой сделке.'}
	]

section.advantages
	.advantages__wrapper
		.container
			h2.advantages__heading Наши преимущества
			.advantages__content
				.left-side
					.list
						each val, index in advantages
							.item
								img.icon(src="../../img/benefit-" + (index + 1) + ".svg", alt="icon")
								h5.heading.no-uppercase #{val.title}
								.text-s #{val.text}
				.right-side
					img.img(src="../../img/advantages.png", alt="img")

