section.contacts
	.contacts__wrapper
		.contacts__heading-wrapper
			h2.contacts__heading Контакты
		.contacts__content
			.bg-light-grey
				.container
					.location
						.desc
							.top
								h4.no-uppercase.title Москва
								.phone
									img.icon(src="./img/phone.svg", alt="icon")
									span.number +7 (985) 922-44-44
								.address г. Москва, Цветной бульвар, д.26
								a.email(href="/") info@ciferblat.ru
							.bottom
								.schedule Eжедневно с 9:00 до 21:00
								.comment Пожалуйста, перед визитом согласуйте время Вашего приезда  по телефону или e-mail.
						.map-wrapper
							#map-1
			.bg-trasparent
				.container
					.location
						.desc
							.top
								h4.no-uppercase.title Санкт-Петербург
								.phone
									img.icon(src="./img/phone.svg", alt="icon")
									span.number +7 (812) 917-44-44
								.address г. Санкт-Петербург, Синопская наб., 22
								a.email(href="/") info@ciferblat.ru
							.bottom
								.schedule
									span Eжедневно с 9:00 до 21:00
									span сб: 12.00 ― 18.00
									span вс: выходной
								.comment Пожалуйста, перед визитом согласуйте время Вашего приезда  по телефону или e-mail.
						.map-wrapper
							#map-2
			.bg-light-grey
				.container
					.location
						.desc
							.top
								h4.no-uppercase.title Казань
								.phone
									img.icon(src="./img/phone.svg", alt="icon")
									span.number +7 (906) 794-44-44
						.desc
							.top
								h4.no-uppercase.title Сочи, Ростов-на-Дону, Краснодар
								.phone
									img.icon(src="./img/phone.svg", alt="icon")
									span.number +7 (916) 794-4444


