include ../mixins/list

-
	const social = [
		{icon: 'youtube', url: '/'},
		{icon: 'instagram', url: '/'}
	]
	const info_links = [
		{title: 'Как купить часы?', link: '/'},
		{title: 'Как продать часы?', link: '/'},
		{title: 'Конфеденциальность', link: '/'},
		{title: 'Гарантии', link: '/'}
	]
	const main_links = [
		{title: 'Главная', link: '/'},
		{title: 'Купить', link: '/'},
		{title: 'Продать', link: '/'},
		{title: 'Заложить', link: '/'},
		{title: 'О нас', link: '/'}
	]
	const expertise_links = [
		{title: 'Экспертиза', link: '/'},
		{title: 'Полезное', link: '/'},
		{title: 'Новости', link: '/'},
		{title: 'Youtube', link: '/'},
		{title: 'Instagram', link: '/'}
	]
		const contactsList = [
		{phone: '+7 (985) 922-44-44', city: 'Москва'},
		{phone: '+7 (812) 917-44-44', city: 'Санкт-Петербург'},
		{phone: '+7 (906) 794-44-44', city: 'Казань'},
		{phone: '+7 (916) 794-4444', city: 'Сочи, Ростов-на-Дону, Краснодар'}
	]

section.footer
	.footer__wrapper
		.container
			.footer__content
				.left-side
					.social-list
						each item in social
							.social-item
								a(class='social-link ' + item.icon  href=item.url)
									img.img(src="./img/" + item.icon + ".svg", alt="icon")
					.contact-list
						each item in contactsList
							.contact-item
								.phone.text-s #{item.phone}
								.city #{item.city}
					.copyright.text-s &copy; 2007 Циферблат
				.right-side
					.wrapper-main
						h6.normal.footer-heading Циферблат
						+list(main_links, 'list', 'item', true, 'link')
					.wrapper-blog
						h6.normal.footer-heading Блог
						+list(expertise_links, 'list', 'item', true, 'link')
					.wrapper-info
						h6.normal.footer-heading Полезная информация
						+list(info_links, 'list', 'item', true, 'link')


