include ../mixins/list
include ../mixins/button

-
	const
		menu_list = [
			{title: 'Купить', link: '/'},
			{title: 'Продать', link: '/'},
			{title: 'Заложить', link: '/'},
			{title: 'О нас', link: '/'}
		]
		buy_sale_pledge = [
			{title: 'Часы', link: '/'},
			{title: 'Ювелирные изделия', link: '/'},
			{title: 'Бриллианты', link: '/'},
			{title: 'Золотые монеты', link: '/'}
		]
		aboutus_list = [
			{title: 'Услуги', link: '/'},
			{title: 'Сотрудничество', link: '/'},
			{title: 'Почему мы', link: '/'},
			{title: 'Аксессуары', link: '/'},
			{title: 'Вопрос-Ответ', link: '/'},
			{title: 'Отзывы', link: '/'}
		]
		menu_small = [
			{icon: 'sm-phone', url: '/'},
			{icon: 'sm-whatsapp', url: '/'},
			{icon: 'sm-telegram', url: '/'}
		]
		mobile_list = [
			{icon: 'mb-phone', url: '/'},
			{icon: 'whatsapp', url: '/'},
			{icon: 'telegram', url: '/'}
		]

section.header
	.overlay
	.header__wrapper
		.container
			.header__content
				.header__logo-wrapper
					.header__logo
						a(href="/")
							img.img(src="./img/logo.svg", alt="img")
					.header__logo-small
						a(href="/")
							img(src="./img/logo-small.svg", alt="img")
				.header__menu
					.header__menu-left
						ul.list
							li.item
								.link Продать
								.submenu.three-col
									.item
										.heading Часы
										.two-col
											ul.left
												li #[a.link(href="/") Все часы] #[span.quantity 213]
												li #[a.link(href="/") Все бренды (A-Z)]
												li #[a.link(href="/") Последние поступления]
												li #[a.link(href="/") Ожидаемые поступления]
												li #[a.link(href="/") Мужские часы]
												li #[a.link(href="/") Женские часы]
												li #[a.link(href="/") Скидки и акции]
											ul.right
												li #[span.title Популярные бренды:]
												li #[a.link(href="/") Breitling] #[span.quantity 15]
												li #[a.link(href="/") Cartier] #[span.quantity 10]
												li #[a.link(href="/") IWC] #[span.quantity 10]
												li #[a.link(href="/") Omega] #[span.quantity 8]
												li #[a.link(href="/") Patek Philippe] #[span.quantity 13]
												li #[a.link(href="/") Rolex] #[span.quantity 25]
									.item
										.heading Ювелирные изделия
										ul
											li #[a.link(href="/") Все украшения] #[span.quantity 20]
											li #[a.link(href="/") Все бренды (A-Z)]
											li #[a.link(href="/") Кольца]
											li #[a.link(href="/") Серьги]
											li #[a.link(href="/") Кулон-подвески]
											li #[a.link(href="/") Браслеты]
											li #[a.link(href="/") Колье]
									.item
										.top
											.heading Бриллианты
											ul
												li #[a.link(href="/") Все изделия с бриллиантами] #[span.quantity 9]
										.bottom
											.heading Монеты
											ul
												li #[a.link(href="/") Все монеты] #[span.quantity 34]
												li #[a.link(href="/") Золотые монеты]
												li #[a.link(href="/") Платиновые монеты]
							li.item
								.link Купить
								+list(buy_sale_pledge, 'submenu one-col', 'item', true, 'link')
							li.item
								a.link(href='/') Заложить
							li.item
								.link О нас
								+list(aboutus_list, 'submenu one-col', 'item', true, 'link')
					.header__menu-right
						.list
							.item.search
								img(src="./img/search.svg", alt="icon")
							.search-content
								.container
									.divider
									.wrapper
										input.input(type="text" placeholder="Поиск")
										+button('btn-alt', 'Найти')
										img.close__search-content(src="./img/close.svg", alt="icon")
							.item.number +7 999 999-88-88
							.item.lang
								a.link(href="/") EN
							.item.login
								a.link(href="/")
									img(src="./img/login.svg", alt="icon")
						+button('btn-primary btn-sm', 'Онлайн-оценка', link=true, '/')
				.header__menu-small
					each item in menu_small
						.social-item
							a(class='mobile-link ' + item.icon  href=item.url)
								img.img(src="./img/" + item.icon + ".svg", alt="icon")
					.search
							img(src="./img/sm-search.svg", alt="icon")
					.search-content
						.container
							.divider
							.wrapper
								input.input(type="text" placeholder="Поиск")
								+button('btn-alt', 'Найти')
								img.close__search-content(src="./img/close.svg", alt="icon")
				.header__burger
					img.burger(src="./img/burger.svg", alt="icon")
					img.close(src="./img/close.svg", alt="icon")


				.header__menu-mobile
					.menu-mobile__left
						.list
							.item
								.mobile-dropdown Купить
									img.icon(src="./img/chevron.svg", alt="icon")
								.mobile-dropdown__content
									+list(buy_sale_pledge, 'list', 'item', true, 'link')
							.item
								.mobile-dropdown Продать
									img.icon(src="./img/chevron.svg", alt="icon")
								.mobile-dropdown__content
									+list(buy_sale_pledge, 'list', 'item', true, 'link')
							.item
								.mobile-dropdown Заложить
									img.icon(src="./img/chevron.svg", alt="icon")
								.mobile-dropdown__content
									+list(buy_sale_pledge, 'list', 'item', true, 'link')
							.item
								.mobile-dropdown О нас
									img.icon(src="./img/chevron.svg", alt="icon")
								.mobile-dropdown__content
									+list(aboutus_list, 'list', 'item', true, 'link')
					.menu-mobile__right
						.list
							.item.lang
								a.link(href="/") EN
							.item.login
								a.link(href="/")
									img.icon(src="./img/login.svg", alt="icon")
									| Войти
							.item.double
								.number +7 999 999-88-88
								.location С.-Петербург
						.social-list
							each item in mobile_list
								.social-item
									a(class='social-link ' + item.icon  href=item.url)
										img.img(src="./img/" + item.icon + ".svg", alt="icon")

