section.info-block
	.info-block__wrapper
		.container
		if aboutBrend
			h2.info-block__heading О бренде
			.info-block__content Часы Franck Muller – самые сложные и изысканные часы в мире. Производство было основано в Женеве Франком Мюллером и Вартаном Сирмакесом с целью создания эксклюзивных часов, отличающихся сложными механизмами и оригинальным дизайном. Благодаря мощному внутреннему потенциалу в различных областях высокого часового искусства молодая компания вскоре стала одним из лучших швейцарских часовых брендов.
		if bestChoice
			h2.info-block__heading Лучший выбор для продажи ваших часов
			.info-block__content Центр часового и ювелирного искусства Циферблат занимается скупкой дорогих брендовых хронометров с 2007 года. У нас есть свои каналы для реализации оригинальных изделий, поэтому имеем возможность предложить продавцам цену выше рынка. Это наша отличительная черта, благодаря которой мы можем заключать взаимовыгодные сделки, а не работать «против интересов клиента».
