section.reviews
	div(class=reviewsBg ? "reviews__wrapper reviews__bg" : "reviews__wrapper" )
		.container
			h3.reviews__heading.normal Что наши клиенты думают о нас?
			.reviews__content
				.slider-wrapper
					.slider-reviews
						.slide
							.rating
								span.active
								span.active
								span.active
								span.active
								span.active
							.review.text-s Не думал, что хорошие фирменные часы можно за 60-70 тыс.руб купить. Они не новые, конечно же, но все же состояние хорошее. Некоторые даже с доками идут, но там выше цена уже.
							h5.no-uppercase.autor Евгений Г.
						.slide
							.rating
								span.active
								span.active
								span.active
								span.active
								span.active
							.review.text-s Не думал, что хорошие фирменные часы можно за 60-70 тыс.руб купить. Они не новые, конечно же, но все же состояние хорошее. Некоторые даже с доками идут, но там выше цена уже.
							h5.no-uppercase.autor Денис Diapol
						.slide
							.rating
								span.active
								span.active
								span.active
								span.active
								span.active
							.review.text-s Не думал, что хорошие фирменные часы можно за 60-70 тыс.руб купить. Они не новые, конечно же, но все же состояние хорошее. Некоторые даже с доками идут, но там выше цена уже.
							h5.no-uppercase.autor Евгений Г.
						.slide
							.rating
								span.active
								span.active
								span.active
								span.active
								span.active
							.review.text-s Не думал, что хорошие фирменные часы можно за 60-70 тыс.руб купить. Они не новые, конечно же, но все же состояние хорошее. Некоторые даже с доками идут, но там выше цена уже.
							h5.no-uppercase.autor Денис Diapol
				.mobile
					.rating
								span.active
								span.active
								span.active
								span.active
								span.active
					.review.text-s Не думал, что хорошие фирменные часы можно за 60-70 тыс.руб купить. Они не новые, конечно же, но все же состояние хорошее. Некоторые даже с доками идут, но там выше цена уже.
					h5.no-uppercase.autor Евгений Г.
					.link-wrapper
						a.link(href="/") Все отзывы
