extends layouts/main

block variables
	- const title = 'Estimate'
	- const bestChoice = true

block content
	include includes/estimate/rate-watch
	include includes/info-block
	include includes/estimate/sales-process
	include includes/advantages
	include includes/faq
	include includes/scrollup
