extends layouts/main

block append variables
	- const title = 'Main page'
	- const reviewsBg = true

block content
	include includes/main-page/first-screen
	include includes/main-page/services
	include includes/best-deals
	include includes/main-page/collections
	include includes/advantages
	include includes/reviews
	include includes/main-page/blog
	include includes/main-page/ratings
	include includes/main-page/about-watch
	include includes/subscrition
	include includes/scrollup