extends layouts/main

block variables
  - const aboutBrend = true

block content
  include includes/product-card/card
  include includes/product-card/more-info
  include includes/info-block
  include includes/faq
  include includes/best-deals
  include includes/subscrition
  include includes/scrollup
