section.contact-us
	.contact-us__wrapper
		.container
			.contact-us__content
				.list
					.item
						img.icon(src="../../../img/tel-yellow.svg", alt="icon")
						span.text +38 (044) 383-55-55
					.item
						img.icon(src="../../../img/email-yellow.svg", alt="icon")
						a.text(href="/") info@ciferblat.ru
					.item
						img.icon(src="../../../img/whatsapp-yellow.svg", alt="icon")
						a.text(href="/") WhatsApp