

section.prime-advantages
	.prime-advantages__wrapper
		.prime-advantages__heading-wrapper
				h2.prime-advantages__heading О компании
		.container
			.prime-advantages__content
				.block
					h4.no-uppercase.heading Лучший выбор
					.text-s.desc Мы являемся владельцами всех часов, которые продаем. Являясь крупым покупателем подержанных часов, мы постоянно меняем свой ассортимент, предлагая подержанные часы от лучших брендов в любой момент времени. Все они проверяются на подлинность, что гарантирует исключительное качество.
				.block
					h4.no-uppercase.heading Гарантированная подлинность
					.text-s.desc Наши подержанные часы оцениваются, проверяются на подлинность и приводятся в соответствие с рабочими стандартами производителя без ущерба для ценности или происхождения, прежде чем попасть в наш перечень подержанных часов, выставленных на продажу.
				.block
					h4.no-uppercase.heading Мы тоже любители часов
					.text-s.desc Наша команда — страстные энтузиастов часового дела, которые поддерживают превосходный уровень знаний об истории, нюансах текущих коллекций и пульсе вторичного рынка. И мы здесь для вас. Мы поможем вам во всех ваших потребностях, связанных с часами, независимо от того, хотите ли вы купить, продать или обменять часы из вашей личной коллекции. Свяжитесь с Циферблат в любое удобное для вас время ― по телефону, по электронной почте, в чате, в приложении, и, конечно, в наших салонах. Мы ждем возможности познакомиться с вами поближе.