.accordion
  &__heading
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 12px
    line-height: 18px
    text-transform: uppercase
    letter-spacing: .06em
    cursor: pointer
    padding: 20px 0
    @include media-breakpoint-up(md)
      font-size: 17px
      line-height: 25px
    &.active
      .icon
        transform: rotate(180deg)
  &__content
    display: none
    margin-bottom: 20px