.product
  text-align: center
  transition: .3s ease
  min-height: 285px
  @include media-breakpoint-up(md)
    min-height: 475px
  &:hover
    .img-wrapper
      .icon-wrapper
        @include media-breakpoint-up(xl)
          display: block
  .img
    width: 100%
    max-width: 188px
    @include media-breakpoint-up(md)
      max-width: 201px
    &-wrapper
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 188px
      height: calc(100% - 155px)
      margin: auto
      @include media-breakpoint-up(md)
        width: 268px
      @include media-breakpoint-up(xl)
        width: 275px
      @include media-breakpoint-up(xxl)
        width: 290px
      .icon
        width: 32px
        height: 32px
        &-wrapper
          display: none
          height: 32px
          cursor: pointer
          color: unset
          text-decoration: none
          @include media-breakpoint-up(xl)
            position: absolute
            &.like,&.liked
              top: 0
              left: 0
            &.liked
              top: 0
              left: 0
              cursor: default
            &.compare
              top: 40px
              left: 0
            &.docs
              left: 0
              bottom: 80px
            &.pack
              left: 0
              bottom: 40px
            &.like,&.compare
              &:hover
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                height: 36px
                border: 1px solid $blue
                border-radius: 2px
                background: $white
                margin-bottom: 6px
                .tooltip
                  display: block
                  font-size: 13px
                  line-height: 20px
                  letter-spacing: .08em
                  text-transform: uppercase
                  color: $blue
                  margin-left: 4px

            &.docs,&.pack
              &:hover
                display: flex
                align-items: center
                .tooltip
                  display: block
                  position: relative
                  font-size: 12px
                  line-height: 15px
                  color: $black67
                  background: $white
                  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25)
                  border-radius: 5px
                  padding: 4px 6px
                  margin-left: 4px
                  &::before
                    content: ''
                    position: absolute
                    top: 7px
                    left: -8px
                    width: 0
                    height: 0
                    border: 4px solid
                    border-color: transparent $white transparent transparent

      .tooltip
        display: none

  .desc-wrapper
    display: flex
    flex-direction: column
    width: 100%
    height: 90px
    @include media-breakpoint-up(md)
      height: 155px

    .name
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .model
      color: $black50
      height: 34px
      margin-bottom: 6px
      overflow: hidden
      @include media-breakpoint-up(md)
        height: 44px
    .price
      letter-spacing: .01em
      font-size: 14px
      line-height: 21px
      font-weight: bold
      color: $blue
      @include media-breakpoint-up(md)
        font-size: 21px
        line-height: 31px
      &-wrapper
        height: 40px
        @include media-breakpoint-up(md)
          height: 74px
      &-old
        font-size: 10px
        line-height: 12px
        color: $blue50
        text-decoration: line-through
        @include media-breakpoint-up(md)
          font-size: 13px
          line-height: 23px
