block wrapper
  .catalog
    .catalog__heading-wrapper
        h2.catalog__heading Швейцарские часы
    .container
      .catalog__content-wrapper
        .catalog__aside
          block aside
        .catalog__content
          block content