mixin button(addClass, btnText, link, addLinkHref)
	if link
		a.btn.btn-link(class=(addClass), href=addLinkHref) #{btnText}
	else
		button.btn(class=addClass, type='button',)&attributes(attributes) #{btnText}