mixin modal(modalType)
	.modal(class=modalType)
		.close-modal
			img(src="./img/close.svg", alt="icon")
		.modal__content
			if (modalType == 'reserve')
				.heading__wrapper
					h3.heading.normal Зарезервировать
				.desc
					.image__wrapper
						.image
							img(src="./img/modal-preview.png", alt="img")
					.subheading Franck Muller Long Island#[span.comma ,&nbsp;]
						.price-wrapper
							.price 180 000 ₽
							.price-old 190 000 ₽
				.info Вы можете заразервировать часы на срок до 7 дней. Вы свободны ото всех финансовых обязательств. Мы перезвоним вам в ближайшее время.
				form.form
					.input-wrapper
						input(type="text" name="name" id="name" class="inp")
						label(for="name") Имя
					.input-wrapper
						input(type="text" name="phone" id="phone" class="inp")
						label(for="phone") Телефон

					.input-wrapper
						input(type="text" name="email" id="email" class="inp")
						label(for="email") E-mail

					+button('btn-alt btn-lg', 'Зарезервировать', link=true, '/')
			if (modalType == 'price-changes')
				.heading__wrapper
					h3.heading.normal Сообщить об изменении цены
				.desc
					.image__wrapper
						.image
							img(src="./img/modal-preview.png", alt="img")
					.subheading Franck Muller Long Island#[span.comma ,&nbsp;]
						.price-wrapper
							.price.underline 180 000 ₽
							.price-old 190 000 ₽
				form.form
					.input-wrapper
						input(type="text" name="name" id="name" class="inp")
						label(for="name") Имя
					.input-wrapper
						input(type="text" name="phone" id="phone" class="inp")
						label(for="phone") Телефон

					.input-wrapper
						input(type="text" name="email" id="email" class="inp")
						label(for="email") E-mail

					+button('btn-alt btn-lg', 'Сообщить', link=true, '/')

			.policy-wrapper
				.policy * Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности»
				.protection Защита от спама reCAPTCHA. Конфиденциальность и Условия использования
		.overlay