mixin product(data, slider)
	each item in data
		div(class= slider ? 'slide product' : 'product')
			.img-wrapper
				a.product-link(href="/product-card")
					img.img(src='./img/' + item.img, alt="img")
				if item.like
					a.icon-wrapper.like(href="/like")
						img.icon(src='./img/' + item.like, alt="icon")
						.tooltip В избранное
				if item.liked
					.icon-wrapper.liked
						img.icon(src='./img/' + item.liked, alt="icon")
				if item.compare
					a.icon-wrapper.compare(href="/compare")
						img.icon(src='./img/' + item.compare, alt="icon")
						.tooltip Сравнить
				if item.docs
					.icon-wrapper.docs
						img.icon(src='./img/' + item.docs, alt="icon")
						.tooltip Документы в комплекте
				if item.pack
					.icon-wrapper.pack
						img.icon(src='./img/' + item.pack, alt="icon")
						.tooltip Коробка в комплекте
			.desc-wrapper
				h6.normal.name #{item.name}
				.text-xs.model #{item.model}
				.price-wrapper
					.price #{item.price}
					.price-old #{item.oldPrise}